.reservas-container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f900; /* Color de fondo de la secci칩n */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cambia la fuente a Comic Sans */
}

.reservas-title {
    text-align: center;
    margin-bottom: 0px;
}

.table-container {
    max-height: 400px; /* Altura m치xima para mostrar hasta 10 reservas */
    overflow-y: auto;  /* Scroll vertical */
}

.reservas-table {
    width: 100%;
    border-collapse: collapse;
}

.reservas-table th,
.reservas-table td {
    padding: 12px 15px; /* Espaciado ajustado */
    text-align: center; /* Centrar texto */
}

.reservas-table th {
    background-color: #407aa9; /* Color de fondo para el encabezado */
    color: white;
}

.reservas-table td {
    background-color: #cdd4da67; /* Color de fondo para las celdas de valores */
}

.reservas-table tr:hover {
    background-color: #f1f1f1; /* Efecto hover */
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre botones */
}

.edit-input {
    width: 90%; /* Ajustar el ancho del input */
    margin: 0 auto; /* Centrar el input */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .reservas-table th,
    .reservas-table td {
        padding: 8px; /* Espaciado reducido en pantallas peque침as */
    }
    
    .edit-input {
        width: 90%; /* Aumentar el ancho en pantallas peque침as */
    }
}
